<header class="app-header">
    <div class="left">
        <button mat-button routerLink="/admin-dash">
            Admin Dashboard
          </button>
      <!-- <img src="path/to/logo.png" alt="Site Logo"> -->
      <!-- <p><a href="/products">FurniStore</a></p> -->
    </div>

    <div class="right">
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item (click) = "logout()">Sign Out</button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <i class="fas fa-user"></i>
      </button>
      
    </div>
  </header>
<mat-grid-list cols="3" rows="3" rowHeight="300px">
  
  <div class="product-container" *ngFor="let product of products">
    <div class="product">
      <h2 class="product-title" style="text-align: center; color: rgb(35, 35, 105);">{{product.name}}</h2>
      <img class="product-img" src="{{product.imageUrl}}" alt="Furniture Image">
      <p><Strong style="color: rgb(35, 35, 105);">Product Description: </Strong></p>
      <p class="product-description"> {{product.description}} </p>
      <div class="order">
        <p class="product-price">{{product.price}}RM</p>
        <button mat-raised-button color="accent" (click)="notApplicable()">Order Now!</button>
      </div>
    </div>
    
  </div>
</mat-grid-list>
