.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
  }
  
  .app-header .left img {
    width: 100px; /* Adjust logo width as needed */
  }
  
  .app-header .right {
    display: flex;
    align-items: center;
  }
  
  .app-header .right button {
    margin-left: 10px;
  }
.tasalli{
  width: 100px;
  height: 70PX;
  border-radius: 10px;
}
  mat-sidenav{
    z-index: 2;
  }
mat-sidenav-container{
  height: 100vh;
}

mat-sidenav-content{
 
  display: flex;
  flex-direction:column ;
}
 
.product-item{
  display: flex;
  justify-content: start;
  align-items: center;
}
.product-info{
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  width: 10%;
}

.desc{
  width: 70%;
}

.price{
  width: 5%;
  margin-left: 2%;
  margin-right: 2%;
}
.product-actions{
  width: 10%;
  display: flex;
}
.product-image{
  width: 50px;
  height: 50px;
  object-fit: cove;
  border-radius: 5px 20px 10px 5px;
}

.search-input {
  border: none;
  outline: none; 
  flex: 1; 
  border-radius: 8px; 
  padding: 8px;
}

.search-button {
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
}

.search-button img {
  width: 20px; 
  height: 20px;
}


