h2{
    background-color: #dad1d1;
    padding-left: 30px;
}

mat-card{
    margin: 0 auto;
    width: 80%;
}

mat-form-field, textarea, input, label{
    width: 100%;
}

.button{
    margin: 10px;
    margin-top: 3px;
    margin-left: 3px;
}

.mat-raised-button {
  color: #f0fff3;
  background-color: #155724;
}
